1-Fader/top.asc
1-Fader/top.bin
1-Fader/top.json
1-Fader/vscode_stderr.log
1-Fader/vscode_stdout.log
1-Fader/work-obj93.cf
workshop/modulos/3_Secuencial/01-FFD_registros/top.asc
workshop/modulos/3_Secuencial/01-FFD_registros/top.bin
workshop/modulos/3_Secuencial/01-FFD_registros/top.json
workshop/modulos/3_Secuencial/01-FFD_registros/vscode_stderr.log
workshop/modulos/3_Secuencial/01-FFD_registros/vscode_stdout.log
2-FPGABurst/top.asc
2-FPGABurst/top.bin
2-FPGABurst/top.json
2-FPGABurst/vscode_stderr.log
2-FPGABurst/vscode_stdout.log
vscode_stdout.log
vscode_stderr.log
workshop/modulos/4_Hardware/4_2_SPWM/top.json
workshop/modulos/4_Hardware/4_2_SPWM/top.bin
workshop/modulos/4_Hardware/4_2_SPWM/top.asc
workshop/modulos/4_Hardware/4_1_Memorias/top.json
workshop/modulos/4_Hardware/4_1_Memorias/top.bin
workshop/modulos/4_Hardware/4_1_Memorias/top.asc
workshop/modulos/4_Hardware/4_1_Memorias/test.vcd
